/* Specilisation_Heading */
.Specilisation_Heading h1 {
    font-size: 3rem;
    text-align: center;
}

/* Specilisation_All_Icon */
.Specilisation_All_Icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    /* justify-content: space-around; */
}

/* Specilisation_Text_Photo */
.Specilisation_Text_Photo img {
    height: 40em;

}

.Specilisation_Text {
    display: flex;
    justify-content: center;
}

/* Specilisation_Text_All_Icon_Card_Icon */


.Specilisation_Text_All_Icon_Card {
    margin: 0.5em;
    /* padding: 0.5em; */
    width: 8rem;
    height: 8rem;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-right: 1em;

}

.Specilisation_Text_All_Icon_Card_Icon {
    font-size: 2em;
    text-align: center;
}

.Specilisation_Text_All_Icon_Card_Text {
    font-size: 1.5em;
    text-align: center;
}